extends layout/base

block content
    .wrapper
        div
            .time
                include ./module/clock
                .apps 
                    a(href="https://github.com/SergeyAverin") g
                    a(href="https://docs.google.com/spreadsheets/d/1OvscT0_oWGHYv0d_vEWtdu18WNBLLx2KbceZhqzPgmI/edit?gid=0#gid=0") t
                    a(href="https://drive.google.com/drive/my-drive?hl=ru") f
                    a(href="https://mail.google.com/mail/u/1/?pli=1#inbox") fd
                
            include ./module/search
            .navigation
                include ./module/banner
                include ./module/links-grid
