extends layout/base

block content
    .wrapper
        div
            include ./module/search
            .navigation
                include ./module/banner
                include ./module/links-grid
