extends layout/base

mixin link(url, text, imageSrc)
    a.link(src=url)= text 

block content
    .wrapper
        .navigation
            img(src="./img/HomePagePhoto.png")
            .links
                +link('#', 'vk', '')
                +link('#', 'vk', '')
                +link('#', 'vk', '')

                +link('#', 'vk', '')
                +link('#', 'vk', '')
                +link('#', 'vk', '')