extends layout/base

mixin appLink(href, icon)
    a(href=href)
        img.icon(src=icon)

block content
    .wrapper
        div
            .widget
                include ./module/clock
                include ./module/app-widget

                
            include ./module/search
            .navigation
                include ./module/banner
                include ./module/links-grid
