.apps
    +appLink("https://github.com/SergeyAverin", "./img/github.svg")
    +appLink("https://docs.google.com/spreadsheets/d/1OvscT0_oWGHYv0d_vEWtdu18WNBLLx2KbceZhqzPgmI/edit?gid=0#gid=0", "./img/cart.svg")
    +appLink("https://drive.google.com/drive/my-drive?hl=ru", "./img/drive.svg")
    +appLink("https://mail.google.com/mail/u/1/?pli=1#inbox", "./img/gmail.svg")