mixin link(url, text, imageSrc)
    a.link(href=url)= text 

.links
    +link('https://www.youtube.com/', 'YouTube', '')
    +link('https://animego.org/', 'AnimeGo', '')
    +link('https://ru.pinterest.com/', 'Pintrest', '')

    +link('https://www.twitch.tv/', 'Twitch', '')
    +link('https://www.reddit.com/', 'Reddit', '')
    +link('https://www.deepl.com/en/translator', 'Deepl', '')
