mixin link(url, text, imageSrc)
    a.link(href=url)= text 

.links
    +link('#', 'vk', '')
    +link('#', 'vk', '')
    +link('#', 'vk', '')

    +link('#', 'vk', '')
    +link('#', 'vk', '')
    +link('#', 'vk', '')
